/*=================== Common CSS =================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');

body {
    width: 100%;
    max-width: 100%;
    background: #272727;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

a,
p,
i,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

button {
    outline: none;
    border: 0;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

select,
input {
    border: 0;
    outline: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.cover{
    object-fit: cover;
}

.container-fluid,
.container{
    padding: 0 16px;
    margin: 0 auto;
}

.container{
    max-width: 1340px;
}

.flex{
    display: flex;
}

/*=================== mixins =================*/

@mixin radius($number){
    border-radius: $number;
    -webkit-border-radius: $number;
    -moz-border-radius: $number;
    -ms-border-radius: $number;
    -o-border-radius: $number;
}

@mixin translateY($number){
    transform: translateY($number);
    -webkit-transform: translateY($number);
    -moz-transform: translateY($number);
    -ms-transform: translateY($number);
    -o-transform: translateY($number);
}
@mixin translateX($number){
    transform: translateX($number);
    -webkit-transform: translateX($number);
    -moz-transform: translateX($number);
    -ms-transform: translateX($number);
    -o-transform: translateX($number);
}

@mixin transition($time){
    transition: all linear $time;
    -webkit-transition: all linear $time;
    -moz-transition: all linear $time;
    -ms-transition: all linear $time;
    -o-transition: all linear $time;
}

@mixin blur($number){
    -webkit-backdrop-filter: blur($number);
    backdrop-filter: blur($number);
}

/*=================== css groups =================*/

%shape{
    filter: url('#flt_tag');
    -webkit-filter: url('#flt_tag');
}

%shape-details{
    -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    background: #FE4A19;
    color: #fff;
    padding: 4px 16px 4px 8px;
    font-size: 16px;
    font-weight: 500;
}

%shape-svg{
    visibility: hidden; 
    position: absolute;
    width: 0px;
    height: 0px;
}

%search-btn{
    height: 60px;
    width: 60px;
    @include radius(50%);
    background: linear-gradient(to bottom, #FE4A19, #FD7403);
}

/*=================== search form =================*/

.search-form{
    opacity: 0;
    visibility: hidden;
    @include transition(0.3s);
    &.show{
        opacity: 1;
        visibility: visible;
    }
    label{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 55;
        top: 50%;
        @include translateY(-50%);
        left: 0;
        width: 100%;
        height: 100%;
        @include radius(99px);
        background: linear-gradient(to left, #FE4A19, #FD7403);
        overflow: hidden;
        input{
            width: 100%;
            height: 100%;
            flex-grow: 1;
            background: transparent;
            padding: 0 16px;
            color: #fff;
            font-size: 16px;
            &::placeholder{
                color: rgba(255, 255, 255, 0.5);
                font-size: 16px;
            }
        }
        button{
            flex-shrink: 0;
            height: 100%;
            padding-right: 16px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .close-search{
        position: absolute;
        top: 50%;
        @include translateY(-50%);
        right: -40px;
        height: 40px;
        width: 40px;
        i{
            font-size: 22px;
            margin: auto;
            color: #fff;
        }
    }
}

/*=================== header CSS =================*/

header{
    padding: 16px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    @media screen and (max-width: 991px) {
        padding: 8px 0;
    }

    &.scrolling{
        background: rgba(0, 0, 0, 0.4);
        @include blur(4px);
    }
    .header-inner{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        @media screen and (max-width: 991px) {
            align-items: center;
        }
        .logo-area{
            align-items: center;
            gap: 4px;
            button{
                height: 40px;
                width: 40px;
                display: none;
                i{
                    font-size: 24px;
                    color: #fff;
                }
                @media screen and (max-width: 991px) {
                    display: block;
                }
            }
            .logo{
                display: inline-block;
                width: 80px;
            }
            grid-column: span 2;
            @media screen and (max-width: 767px) {
                grid-column: span 6;
            }
        }
        .content{
            grid-column: span 8;
            text-align: center;
            @media screen and (max-width: 767px) {
                display: none;
            }
            .top-list{
                gap: 16px;
                justify-content: center;
                margin-bottom: 8px;
                a{
                    color: #fff;
                    font-size: 16px;
                }
            }
            .bottom-list{
                position: relative;
                width: fit-content;
                margin: auto;
                @media screen and (max-width: 991px) {
                    display: none;
                }
                .menu-list{
                    background: rgba(0, 0, 0, 0.4);
                    @include radius(99px);
                    gap: 24px;
                    align-items: center;
                    padding-left: 24px;
                    width: fit-content;                    
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        i{
                            font-size: 20px;
                        }
                        .ph-caret-down{
                            font-size: 16px;
                        }
                    }
                    .search-btn{
                        @extend %search-btn;
                        i{
                            font-size: 24px;
                            color: #fff;
                        }
                    }
                }
                .submenu{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 24px;
                    @include radius(16px);
                    background: rgba(153, 153, 153, 0.5);
                    margin-top: 16px;
                    @include blur(4px);
                    display: none;
                    &.show{
                        display: block;
                    }
                    
                    .grid{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 4px;
                        padding: 16px 0;
                        .submenu-item-big{
                            text-align: center;
                            .img-logo{
                                height: auto;
                                width: 50%;
                                margin: auto;
                            }
                            &:hover{
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }

        .btn-list{
            grid-column: span 2;
            justify-content: flex-end;
            gap: 16px;
            @media screen and (max-width: 767px) {
                grid-column: span 6;
                gap: 8px;
            }
            a,button{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 48px;
                width: 48px;
                @include radius(16px);
                background: rgba(0, 0, 0, 0.4);
                i{
                    color: #fff;
                    font-size: 22px;
                }
                @media screen and (max-width: 991px) {
                    height: 40px;
                    width: 40px;
                }
            }  
            
            .mobile-search{
                display: none;
                @media screen and (max-width: 991px) {
                    display: block;
                }
                label{
                    margin: 0 16px;
                    width: calc(100% - 32px);
                    height: 40px
                }
                .search-btn{
                    @extend %search-btn;
                    height: 40px;
                    width: 40px;
                    position: relative;
                    z-index: 60;
                } 
            } 
        }
    }
    .submenu-title{
        align-items: center;
        justify-content: space-between;
        @include radius(8px);
        background: rgba(0, 0, 0, 0.4);
        padding: 8px 16px;
        h4{
            color: #fff;
            font-size: 16px;
            font-weight: 700;
        }
        a{
            font-size: 14px;
            color: #fff;
            font-weight: 600;
        }
    }
    .submenu-item{
        @include radius(99px);
        padding: 4px;
        align-items: center;
        gap: 8px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        @include transition(0.3s);
        .img-logo{
            width: 40px;
            height: 40px;
            flex-shrink: 0;
        }
        &:hover{
            background: rgba(255, 255, 255, 0.3);
        }
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        left: 0;
        max-width: 300px;
        width: 100%;
        height: calc(100vh - 32px);
        background: #272727;
        z-index: 80;
        padding: 16px;
        overflow-y: auto;
        @include transition(0.3s);
        @include translateX(-100%);
        &.show{
            @include translateX(0);
        }
        .menu-header{
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            h5{
                background-color: #FE4A19;
                color: #fff;
                padding: 4px 8px;
                @include radius(4px);
                font-size: 18px;
            }
            button{
                height: 36px;
                width: 36px;
                @include radius(50%);
                background-color: #FE4A19;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        ul{
            padding: 16px 0;
        }
    }
}

/*=================== banner CSS =================*/

.banner{
    background: url('src/images/banner.jpg') no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    .overlay{
        padding: 200px 0;
        background: rgba(0, 0, 0, 0.4);
        small{
            display: inline-block;
            font-size: 14px;
            @include radius(4px);
            color: #fff;
            font-weight: 500;
            padding: 4px 8px;
            background: rgba(153, 153, 153, 0.4);
        }
        h1{
            font-size: 34px;
            color: #fff;
            font-weight: 600;
            max-width: 450px;
            padding-top: 16px;
            padding-bottom: 20px;
            @media screen and (max-width: 767px) {
                font-size: 24px;
            }
        }
        .price{
            align-items: center;
            gap: 16px;
            h6{
                @extend %shape;
                span{
                    @extend %shape-details;
                }
                .flt_svg {
                    @extend %shape-svg
                }
            }
            h2{
                color: #fff;
                font-size: 36px;
                font-weight: 600;
                @media screen and (max-width: 767px) {
                    font-size: 24px;
                }
            }
        }
    }
}

/*=================== trending CSS =================*/

.trending{
    padding-top: 16px;
    padding-bottom: 32px;
    .title{
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
        h3{
            color: #fff;
            font-size: 28px;
            font-weight: 500;
        }
        a{
            display: inline-block;
            color: #fff;
            padding: 8px 16px;
            @include radius(6px);
            border: 1px solid #999;
            background-color: #323232;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        @media (min-width: 576px) and (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .single-item{
            display: block;
            .image{
                position: relative;
                img{
                    @include radius(12px);
                }
                h6{
                    @extend %shape;
                    position: absolute;
                    bottom: 0;
                    left: -4px;
                    span{
                        @extend %shape-details;
                    }
                    .flt_svg {
                        @extend %shape-svg
                    }
                }
            }
            .item-title{
                align-items: center;
                justify-content: space-between;
                padding-top: 16px;
                h4{
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    span{
                        display: inline-block;
                        padding: 2px 4px;
                        border: 1px solid #999;
                        background-color: #323232;
                        color: #fff;
                        font-size: 10px;
                        @include radius(4px);
                    }
                }
                p{
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }
    }
}